---
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
    firstName: "Josh",
    city: "Ashland",
    job: "Plantonix",
    occupation: "Operations Manager",
    girlfriend: "Kamryn",
    girlfriendCity: "Marysville",
    hobbies: ["pool", "disc golf", "learning Astro"],
};

const skills = ["HTML", "CSS", "e-commerce", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
const operatingSystem = "MacOS";

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<title>{pageTitle}</title>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
              color: purple;
              font-size: 4rem;
            }
            .skill {
              color: var(--skillColor);
              font-weight: var(--fontWeight);
              text-transform: var(--textCase);
            }
          </style>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>My Astro Site</h1>
        <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>
      
        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
      
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
        <p>Here are a few facts about me.</p>
        <ul>
            <li> My name is {identity.firstName}.</li>
            <li>I live in {identity.city}, and work at {identity.job} as an {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]}, and {identity.hobbies[1]}. </li>
            }
            <li>I like to spend my time with my lovely girlfriend, {identity.girlfriend}, who lives in {identity.girlfriendCity}. I love her very much.</li>
        </ul>
        <p>Here is a picture of us at BealeCon!</p>
        <img src="/josh-kamryn-mando.jpeg" alt="Pic of me and my love!">
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
        {operatingSystem === "MacOS" ? <p>I am using MacOS.</p> : <p>I am using MacOS.</p> }
      </body>
</html>
